/****** STRUCTURE DU FORUM ----------------------------------------------------------- 
 ****** Elements du forum qui définissent sa structure et sa hiérachie sur toutes les pages 
 ****** (ne les RENOMMEZ PAS, ils sont généraux aux pages Web ou à Forumactif) ------- ******/

/*** ROOT 
 *** Tutoriel pour utiliser les variables
 *** https://blankthemerpg.forumactif.com/t139-utiliser-les-variables-css ***/

/* VARIABLE DU MODE DE BASE (ici clair) */
:root {
  color-scheme: light;
  --header: url('https://images2.imgbox.com/e5/fb/TTqPoDcu_o.png');

  --neutral: #fafbfc;
  --neutralDark: #f2f4f9;
  --neutralDarker: #dce3f4;

  --contrast: #171938;
  --contrastLight: #232657;
  --contrastLighter: #c3c8f3;

  --accentClr: #4b57c5;
  --accentClrDark: #333c92;

  --textColor: #232657;
  --textColorAccent: #000;

  --border: 1px solid #e5e5e5;

  --shadowBox: 0 0 20px #23265730;

  --little-size: 12px;
  --normal-size: 14px;
  --medium-size: 16px;
  --large-size: 18px;
  --title-size: 22px;

  --font: "Open Sans";
}

/* VARIABLES DU MODE INVERSE (ici sombre) */
[data-color-scheme="dark"] {
  color-scheme: dark;
  --header: url('https://images2.imgbox.com/89/30/IXFzrs0y_o.png');

  --neutral: #1e212a;
  --neutralDark: #181a21;
  --neutralDarker: #313543;

  --contrast: #e5e5f0;
  --contrastLight: #f4f4f4;
  --contrastLighter: #40485e;

  --accentClr: #7583ff;
  --accentClrDark: #333c92;

  --textColor: #c7c5cd;
  --textColorAccent: #e5e5f0;

  --border: 1px solid #2b2e3b;

  --shadowBox: 0 0 20px var(--neutralDark);
}

/* S'applique à TOUS les éléments du forum*/
* {
  box-sizing: border-box;
  /*évite que les éléments soient agrandis par le padding*/
  /* SCROLLBAR CUSTOM POUR MOZILLA */
  scrollbar-color: var(--contrastLight);
  scrollbar-width: thin;
}

/*** ------------------------------- ***/
/*** TOUTES LES PAGES --------------- ***/

/* FOND DU FORUM ---*/
body {
  background: var(--neutralDark);
  font-family: var(--font);
  font-size: var(--normal-size);
  color: var(--textColor);
  margin: 0 !important;
}

/* SCROLLBAR --- */
/* Scrollbar entière */
::-webkit-scrollbar {}

/* Rail */
::-webkit-scrollbar-track {}

/* Poignée */
::-webkit-scrollbar-thumb {}

/* STRUCTURE PRINCIPALE ---*/
.main_forum {
  width: 940px;
  /*largeur forum*/
  margin: 20px auto;
  padding: 20px;
  background: var(--neutral);
  border-radius: 5px;
}

/* BANNIERE ---*/
/* Mettre la bannière en fond permet de la changer selon le thème clair ou sombre */
#header {
  background-image: var(--header);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  width: 900px;
  height: 330px;
  display: block;
}

/* Conteneur de toutes les sous-sections
 * comme les encadrés d'options, de rappel, etc... */
.panel {
  background: var(--neutral);
  border: var(--border);
  border-radius: 5px;
  padding: 10px;
  margin: 25px 0;
}

.sidebar {
  position: fixed;
  background-color: var(--neutral);
  inset: 0;
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 10px;
  z-index: 999;
}

/* Conteneur de switcheroo */
.sidebar_top {
  display: flex;
  flex-direction: column;
  gap: 10px
}

/* Conteneur de l'ascenseur
 * Sert essentiellement à définir où le placer dans la page */
.sidebar_bottom {
  width: 45px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Lien de renvoi haut/bas */
.sidebar_bottom>a {
  padding: 5px 8px;
  background: var(--neutralDark);
  border-radius: 5px;
  text-align: center;
}

/* BOUTON CHANGEMENT DE THEME ---*/
@media (prefers-color-scheme: dark) {
  .color-scheme-toggle .dark {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  .color-scheme-toggle .light {
    display: none;
  }
}

.color-scheme-toggle,
[data-color-scheme="light"] .color-scheme-toggle .dark,
[data-color-scheme="dark"] .color-scheme-toggle .light {
  display: block;
  width: 100%;
}

[data-color-scheme="dark"] .color-scheme-toggle .dark,
[data-color-scheme="light"] .color-scheme-toggle .light {
  display: none;
}

.color-scheme-toggle {
  background-color: var(--neutralDark);
  padding: 5px 8px;
  font-size: 36px;
  text-align: center;
  border-radius: 5px;
  color: var(--textColor);
}

.color-scheme-toggle:hover {
  color: var(--accentClr);
}

/****** ------------------------------------------------------------------------------
 ****** GÉNÉRALITÉS ------------------------------------------------------------------ 
 ****** Sélecteurs généraux s'appliquant à plusieurs reprises sur tout le forum ******/

/*** ----------------------------------- ***/
/*** LIENS ET TEXTE -------------------- ***/

/* LIENS DU FORUM --- */
a {
  font-weight: 600;
  text-decoration: none;
  color: var(--textColorAccent);
}

/*liens au survol*/
a:hover {
  color: var(--accentClr);
}

/* Emoji mis par défaut de FA
 * Les réduire les rend moins horribles à voir */
.emojione {
  width: 19px !important;
}

/* TITRES DES PAGES --- ***/

/* Utilisé pour des titres de pages */
h1,
h1.page-title {
  color: var(--contrastLight);
  margin: 10px 0 20px;
  font-size: var(--title-size);
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

/* Utilisé pour des titres de sujets, blogs... */
h2,
.h2 {
  margin: 0;
  font-size: var(--large-size);
  font-weight: 700;
}

/* Utilisé pour des titres de sous-sections, petit encadré, ...*/
h3,
.h3 {
  color: var(--contrastLight);
  padding-bottom: 10px;
  margin: 0;
  font-size: var(--medium-size);
  font-weight: bold;
}

/*** --------------------------------------- ***/
/*** BOUTONS D'INTERACTION ET BARRE DE TEXTE ***/

/* CHAMPS DE TEXTE ---*/
input:is([type="text"], [type="password"], .inputbox),
textarea {
  border: none;
  border-radius: 5px;
  background: var(--neutralDark);
  font-size: var(--normal-size);
  color: var(--contrastLight) !important;
  padding: 8px 10px;
}

/* Au focus */
:focus:is(input:is([type="text"], [type="password"], .inputbox), textarea) {
  outline: none;
  border: 1px solid var(--accentClr);
}

/* BOUTONS D'INTERACTION --- *
 * Envoyer, prévisualiser, sauvegarder, aller,... */
input:is([type="submit"], [type="button"], [type="hidden"], [type="reset"]),
.button,
button {
  font-size: var(--normal-size);
  padding: 10px 15px !important;
  border-radius: 5px;
  background: var(--neutralDarker);
  color: var(--contrastLight);
  font-weight: 600;
  border: none;
}

/* Au survol */
:hover:is(input:is([type="submit"], [type="button"], [type="hidden"], [type="reset"]), .button) {
  color: var(--accentClr);
}

/* Boutons désactivés */
:disabled:is(input:is([type="submit"], [type="button"], [type="hidden"], [type="reset"]), .button) {
  opacity: .5;
  filter: saturate(1);
  cursor: not-allowed;
}

:disabled:hover:is(input:is([type="submit"], [type="button"], [type="hidden"], [type="reset"]), .button) {
  color: inherit;
}

.submit-buttons {
  text-align: center;
}

.quickmod {
  margin-bottom: 20px;
}

/* MENUS DEROULANTS --- */
select {
  background: transparent;
  border: var(--border);
  border-radius: 5px;
  font-size: var(--normal-size);
  padding: 8px 10px;
  color: var(--textColor);
}

select:focus-visible {
  outline: 1px solid var(--accentClr);
}


/*** ------------------------------- ***/
/*** EDITEUR DE TEXTE -------------- ***/
/* Editeur de texte */
.sceditor-container {
  border: var(--border) !important;
  background-color: var(--neutral) !important;
}

/* Barre d'outils de l'éditeur de texte*/
div.sceditor-toolbar {
  background: var(--neutral) !important;
  border-bottom: var(--border) !important;
}

/* Conteneur des groupes d'outils */
div.sceditor-group {
  background: var(--neutralDark) !important;
  border-bottom: var(--border) !important;
}

/* Bouton d'un outil */
a.sceditor-button {
  height: 26px !important;
  /*ne pas retirer*/
  width: 26px !important;
  /*ne pas retirer*/
}

/* Bouton d'un outil au survol ou actif*/
.sceditor-button.active,
.sceditor-button:active,
.sceditor-button:hover,
.sceditor-button.hover {
  background: var(--neutral) !important;
  box-shadow: none !important;
  border: none !important;
  outline: 1px solid var(--neutralDarker);
}

/* Conteneur de la zone de texte */
.sceditor-container iframe,
.sceditor-container textarea {
  background-color: var(--neutral) !important;
  /*ne pas supprimer*/
  width: 100% !important;
  margin: 0 !important;
  padding: 5px !important;
  /*ne pas supprimer*/
  min-height: 250px !important;
}

.sceditor-container textarea:focus {
  outline: none
}

/*Boîte Smiley*/
html#sceditor_smilies,
body#sce_smilies_body {
  background: transparent !important;
}



/*** ------------------------------- ***/
/*** PAGINATIONS -------------------- ***/

.pagination {}

/*lien unique vers les pages numérotées*/
.pagination span a {
  font-size: var(--little-size);
}

/*survol des liens uniques des pages*/
.pagination span a:hover {
  font-weight: 600;
}

/*lien actif : page sur laquelle vous vous trouvez */
.pagination span strong {
  background-color: var(--neutralDark);
  border-radius: 3px;
  padding: 1px 4px;
}

/*suppression de l'image-lien "aller à la page suivante" */
.page-topic span a:last-child,
.pag-img {
  display: none;
}

/*** ------------------------------- ***/
/*** ELEMENTS ESTHETIQUES ---------- ***/

/* Contenur général qui sert généralement de fond et/ou de contour*/
.container {
  background: var(--neutralDark);
  padding: 10px;
  border-radius: 5px;
}

/* Barre de séparation */
.separator {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid var(--neutralDark);
  clear: both;
  height: 1px;
  width: 100%;
}

hr {
  border: none;
  border-top: var(--border);
}

/* Titre d'un toggle */
summary {
  cursor: pointer;
}

/* Conteneur moins large (les historiques des messages essentiellement) */
.wrapped {
  width: 80%;
  margin: 10px auto;
  clear: both;
}

/* Image/avatar réduit */
.mini_img img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  margin-right: 10px;
  background: var(--neutralDark);
}

/* Permet d'aligner un élément à droite ou à gauche */
.right {
  float: right;
}

.left {
  float: left;
}

.clear {
  clear: both;
}

/* Barre de gestion 
 * Contient des boutons ou des liens spéciaux */
.links_bar {
  padding: 10px;
  border: var(--border);
  border-radius: 5px;
  margin: 25px 0;
  clear: both;
}

/* supprime si vide */
.links_bar:empty {
  display: none;
}

/* Lien spécial mis en avant */
.specials_links a,
a.specials_links {
  background: var(--neutralDark);
  padding: 2px 6px;
  border-radius: 5px;
}

/* Suppression des liens vides */
.specials_links a:empty,
a.specials_links:empty {
  display: none;
}

/****** ------------------------------------------------------------------------------ 
 ****** ENTETE DU FORUM --------------------------------------------------------------
 ****** Tous les éléments qui s'affichent en tête de toutes les pages ---------------- ******/

/* Notiffi CSS */
/* Cache la toolbar défaut */
#fa_toolbar {
  display: none
}

/* Bouton de notification */
#notiffi_button {
  cursor: pointer;
  background: var(--neutral);
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  position: fixed;
  z-index: 99;
  top: 10px;
  right: 10px;
  height: 35px;
}

/* Conteneur du nombre de notification non lues REMPLI */
.unread_count {
  position: relative;
  background: var(--neutralDarker);
  border-radius: 5px;
  width: 25px;
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 12px;
  scale: 1;
  opacity: 1;
  aspect-ratio: 1;
  transition: scale ease-out .2s;
}

/* Conteneur du nombre de notification non lues VIDE */
.unread_count:empty {
  position: absolute;
  scale: 0;
  opacity: 0;
  transition: all ease-out .2s;
}



/* Menu des notifications FERMÉ */
#notiffi_panel {
  --menuSize: 500px;
  /* taille du Menu */
  width: var(--menuSize);
  position: fixed;
  z-index: 98;
  top: 0;
  height: 100%;
  right: calc(var(--menuSize) * -1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  background: var(--neutral);
  border-left: 1px solid var(--neutralDark);
  padding: 15px;
  padding-top: 50px;
  opacity: 0;
  visibility: hidden;
  transition: all ease .7s;
}

/* Menu des notifications OUVERT */
#notiffi_panel.open {
  right: 0;
  visibility: visible;
  opacity: 1;
}

/* Conteneur des notifications */
.all_notifications {
  width: 100%;
  overflow: auto;
  max-height: 100%;
  background: var(--neutralDark);
  padding: 10px;
  border-radius: 10px;
  -ms-overflow-style: none;
  scrollbar-width: none;

  /* Désactive la barre de défilement dans le contenenur */
  &::-webkit-scrollbar {
    display: none;
  }
}

/* Conteneur des notifications VIDE */
.no_notification {
  text-align: center;
  font-style: italic;
}

/* Conteneur du footer du menu
  (voir toutes les notifications, marquer comme lu, tout supprimer) */
.notiffi_manage {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* Conteneur des bouton d'action des notifications */
.notiffi_actions {
  display: grid;
  justify-items: end;
  gap: 5px;

  /* Bouton d'action */
  button {
    padding: 2px 10px;
    background: var(--neutralDark);
    border-radius: 5px;

    &:hover {
      color: var(--accentClr)
    }
  }
}

/* Apparence d'une notification */
.notification {
  display: flex;
  gap: 15px;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: border .2s;
  animation: notiffiFadeIn 0.3s ease-in-out;

  /* Notification au survol */
  &:hover {
    border-color: var(--neutralDarker);
  }
}

/* Animation d'apparition des notifications */
@keyframes notiffiFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Apparence d'une notification NON LUE */
.notification.unread {
  background-color: var(--neutral);
}

/* Conteneur des détails de la notification (avatar, icone) */
.notif_details {
  position: relative;
  align-self: start;
}

/* Conteneur de l'avatar */
.notif_avatar {
  background: var(--neutral);
  height: 35px;
  border-radius: 5px;
  aspect-ratio: 1;

  /* Image de l'avatar */
  & img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
  }
}

/* Icone du type de la notification */
.notif_icon {
  position: absolute;
  bottom: -5px;
  right: -5px;
  background: var(--neutral);
  width: 18px;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  border-radius: 20px;
  font-size: 10px;
}

/* Icone lorsque la notification est non lue */
.notification.unread .notif_icon {
  color: var(--neutral);
  background: var(--accentClr);
}

/* Conteneur du texte et la date de la notification */
.notif_content {
  width: 100%;
}

/* Date de la notification */
.notif_time {
  font-size: var(--little-size);
  opacity: .8;
  margin-top: 5px;
}

/* Bouton de suppression de la notification */
.notif_close {
  background: transparent;
  align-self: start;
  font-size: 18px;
  line-height: 0;
  opacity: 0;
  border-radius: 100px;
  aspect-ratio: 1;
  padding: 2px;
  transition: all .3s;
}

/* Affiche le bouton de suppression au survol de la notification */
.notification:hover .notif_close {
  opacity: 1
}

/* Alerte d'une notification */
.notification.alert {
  position: fixed;
  width: 400px;
  align-items: center;
  z-index: 99;
  bottom: 10px;
  right: 10px;
  background: var(--neutralDarker);
  transform: translateY(100%);
  opacity: 0;
  filter: blur(5px);
  transition: all .5s ease-in-out;
}

.notification.alert.up {
  transform: translateY(0%);
  opacity: 1;
  filter: blur(0);
  transition: all .5s ease-in-out;
}

.alert_close {
  background: var(--neutral);
  font-size: 18px;
  line-height: 0;
  border-radius: 100px;
  aspect-ratio: 1;
  padding: 2px;
}

/*** ------------------------------- ***/
/*** SWITCHEROO - Par Monomer ------ ***/
/*** Gestionnaire de multicompte --- ***/

:root {
  --ease: cubic-bezier(0.4, 0, 0.2, 1);
  --ease-bounce: cubic-bezier(0.43, 0.09, 0.38, 2.56);
}

/* BARRE SWITCHEROO --- */
/* BARRE --- */
.switcheroo {
  color: var(--textColor);
}

/* Positionnement des ronds */
.switcheroo__squircles {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 15px;
}

/* AFFICHAGE DES COMPTES ---*/

/* Rond */
.switcheroo__squircle {
  position: relative;
  display: grid;
  place-items: center;
  background-color: var(--neutralDark);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  outline: 5px solid transparent;
  transition: border-radius 128ms var(--ease);
}

/* Rond au survol */
.switcheroo__squircle:hover {
  outline-color: var(--neutralDarker);
  border-radius: 8px;
}

.switcheroo__squircle:hover img {
  border-radius: 8px;
}

/* Conteneur de l'avatar */
.switcheroo__avatar {
  width: 100%;
  aspect-ratio: 1/1;
}

/* Image de l'avatar */
.switcheroo__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  transition: border-radius 128ms var(--ease);
  position: relative;
}

/* Avatar du compte connecté */
.switcheroo__squircle.active,
.switcheroo__squircle.active img {
  outline-color: var(--neutralDark);
  cursor: default;
}

/* AJOUTER UN COMPTE ---*/
/* button : ajouter un compte */
.switcheroo__squircle--button {
  transition: border-radius 128ms var(--ease);
  color: var(--contrastLight);
}

/* icon plus */
.switcheroo__squircle--button i {
  font-size: 19px;
}

.switcheroo__squircle--button:hover {
  color: var(--accentClr);
}

/* Bouton de suppression */
.switcheroo__delete {
  display: grid;
  place-items: center;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -7px;
  right: -7px;
  border-radius: 50%;
  background-color: var(--accentClr);
  transform: scale(0);
  opacity: 1;
  transition: transform 128ms var(--ease), opacity 64ms var(--ease);
  cursor: pointer;
  color: var(--neutral);
  line-height: 0;
}

.switcheroo__squircle:hover .switcheroo__delete {
  opacity: 1;
  transform: scale(1);
}

/* TOOLTIP - INFOBULLE DU PSEUDO ---*/

/* Conteneur du pseudo */
.switcheroo__popper {
  background-color: var(--neutralDarker);
  padding: 0.3rem 1rem;
  position: absolute;
  width: -webkit-max-content;
  width: max-content;
  border-radius: 5px;
  z-index: 0;
  opacity: 0;
  transition: opacity 64ms var(--ease), transform 128ms var(--ease-bounce);
  pointer-events: none;
  color: var(--textColor);
  left: 155%;
  top: 50%;
  transform-origin: left;
  transform: translateY(-50%) scale(0.98);
}

/* Flèche tooltip */
.switcheroo__popper:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--neutralDarker);
  z-index: -1;
  left: -3px;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  border-radius: 2px;
}

.switcheroo__squircle:hover .switcheroo__popper {
  opacity: 1;
  transform: translateY(-50%) scale(1);
}

/* LOGO --- retirez display:none pour retrouver le logo */
.switcheroo__logo,
.switcheroo__divider {
  display: none;
}

/* MODAL : FENETRE DE CONNEXION --- */

/* Fond de l'affichage de connexion */
.monomer-overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: 0.2s opacity ease;
  background: rgba(0, 0, 0, 0.2);
}

/* Boîte de connexion */
.monomer-modal {
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  opacity: 0;
  width: 94%;
  padding: 30px;
  transition: 0.2s opacity ease;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background: var(--neutral);
  padding: 50px;
  box-shadow: var(--shadowBox);
}

/* Champs à remplir */
.switcheroo__form-row {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

/* Nom du champ */
.switcheroo__form-label {
  margin-bottom: 8px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

/* Zone de texte */
.switcheroo__form-input {
  padding: 6px !important;
  border-radius: 4px;
  width: 100%;
  background-color: var(--neutral);
  color: var(--contrastLight);
  cursor: text;
}

/* Bouton de connexion */
.switcheroo__form-button {
  border-radius: 8px;
  padding: 4px 10px 5px;
  border: none;
  outline: none;
  box-shadow: none;
  text-transform: uppercase;
  font-size: 14px;
  align-self: center;
  background-color: var(--accentClr);
  cursor: pointer;
  color: var(--neutral);
  font-weight: 600;
  margin-top: 10px;
}

.switcheroo__form-button:hover {
  background: var(--contrastLight);
}

.monomer-modal.monomer-open,
.monomer-overlay.monomer-open {
  opacity: 1;
}

/* Fermer la boîte de connexion */
.monomer-close {
  font-size: 16px;
  line-height: 12px;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: var(--textColor);
  border: 0;
  outline: none;
  background: var(--contrastLighter);
  border-radius: 4px;
  padding: 0;
  padding-left: 1px;
}

.monomer-close:hover {
  background: var(--contrastLight);
}

/*** ------------------------------- ***/
/*** BARRE DE NAVIGATION ----------- ***/

/* Conteneur de la barre de nav */
.navbar {
  background: var(--neutralDark);
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;

  display: flex;
  /* permet de mettre les liens sur une ligne */
  align-items: center;
  /*centre verticalement*/
  justify-content: center;
  /*centre horizontalement*/
}

/* Suppression des liens peu utilisés*/
.navbar a[href^="/faq"],
/*faq*/
.navbar a[href^="/calendar"],
/*calendrier*/
.navbar a[href^="/groups"],
/*groupes*/
.navbar a[href^="/images"]

/*Dernières images*/
  {
  display: none;
}

/* liens de navigation */
a.mainmenu {
  padding: 5px;
}

/* Lien navigation au survol*/
a.mainmenu:hover {
  background: var(--neutral);
  border-radius: 5px;
}

/* Image des liens */
a.mainmenu img {
  display: none;
}

/*** ------------------------------- ***/
/*** ANNONCES DEFILANTES ----------- ***/

/* Barre défilante */
.module {
  border-radius: 5px;
  border: var(--border);
  margin: 10px 0;
  padding: 4px 8px;
}

/****** ------------------------------------------------------------------------------
 ****** PAGE PRINCIPALE, INDEX ------------------------------------------------------- ******/

/* PAGE D'ACCUEIL ---*/
.introduction {}

/*** ------------------------------- ***/
/*** CATEGORIES -------------------- ***/

.category {
  background: var(--neutralDark);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 25px;
}

/* Titre d'une catégorie */
.cate_title h2 {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0 20px;
}

/* conteneur d'un forum*/
.forum {
  margin-bottom: 10px;
  background: var(--neutral);
  padding: 10px;
  border-radius: 5px;
}

.forum:last-child {
  margin-bottom: 0;
}

/* titre d'un forum */
a.forumtitle {
  font-size: var(--large-size);
}

.forum_content {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}

/*image statut du forum */
.forum-img {
  width: 70px;
  height: 70px;
  background-color: var(--neutralDark);
}

/*description du forum*/
.forum_desc {
  flex: 1;
  max-height: 65px;
  overflow: auto;
  align-self: center;
}

/*conteneur avatar du dernier posteur*/
.forum_avatar {
  width: 60px;
  height: 60px;
}

.forum_avatar img {
  background: var(--neutralDark);
  width: 60px;
  height: 60px;
  object-fit: cover;
  object-position: center;
}

/* dernier message*/
.forum_lastpost {
  width: 180px;
}

.forum_details {
  border-top: 1px solid var(--neutralDark);
  padding-top: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

/* liens des sous forums */
#subforum {
  font-size: 0;
  /*permet de retirer la virgule*/
}

#subforum a {
  font-size: var(--little-size);
  margin-right: 10px;
}

.forum_stats {
  font-weight: 600;
  float: right;
  font-size: var(--little-size);
}

/*** ------------------------------- ***/
/*** QUI EST EN LIGNE -------------- ***/

.qeel {
  background: var(--neutralDark);
  border-radius: 5px;
  padding: 10px;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-gap: 1px;
  margin-bottom: 10px;
}

.qeel>div {
  background: var(--neutral);
  padding: 15px 10px;
}

.qeel-left {
  border-radius: 5px 0 0 5px;
}

/* Dernier inscrit */
#last_user {
  display: flex;
  align-items: center;
}

#lastuser_avatar img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  margin-right: 10px;
}

/* groupes*/
a.groups {
  display: block;
  background: var(--neutralDark);
  border-radius: 5px;
  text-align: center;
  padding: 2px 0;
  margin-bottom: 5px;
  opacity: 1;
}

a.groups:hover {
  opacity: 0.7;
}

a.groups:last-child {
  margin-bottom: 0;
}

.qeel-middle {}

/*X connectés :: 1 membre, 0 invisible, 0 invité*/
#total_users {}

/*Connectés en ce moment*/
#online_users {
  height: 95px;
  overflow: auto;
}

/*ne pas supprimer*/
#online_users br {
  display: none;
}

.credits {
  font-size: var(--little-size);
  border: var(--border);
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
}

.qeel-right {
  border-radius: 0 5px 5px 0;
  text-align: justify;
}

/****** ------------------------------------------------------------------------------
 ****** LISTE DES SUJETS ------------------------------------------------------------- ******/

/*** ------------------------------- ***/
/*** ENTETE ET FOOTER DE LA LISTE DES SUJETS ***/

/* Chaîne de navigation et pagination
 * (réutilisé dans l'affichage d'un sujet (viewtopic_body)) */
.navigation_links {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

/* chaîne de lien de navigation : catégorie > forum > sous-fo */
.navigation_chain {
  font-size: 0;
  /*retire les :: de séparation */
}

.navigation_chain a {
  font-size: initial;
  /*rétablit la taille des liens*/
  margin-right: 8px;
}

.navigation_chain a:before {
  content: "›";
  /*symbole ou texte modifiable*/
  font-size: var(--nomal-size);
  margin-right: 3px;
}

/* BOUTONS DE MESSAGE : Répondre, Nouveau,... ---* 
 * (réutilisé dans l'affichage d'un sujet (viewtopic_body) et les MP (privmsgs_body) */
.buttons {
  background: var(--neutralDark);
  padding: 1px 8px;
  margin-right: 5px;
  border-radius: 5px;
  opacity: 1;
}

.buttons:hover {
  opacity: 0.7;
}

/* BOUTONS : modérer les sujets de ce forum */
#moderation_forum_tools,
#moderation_forum_tools strong {
  font-size: 0px;
}

#moderation_forum_tools a {
  background: var(--neutralDark);
  border-radius: 5px;
  padding: 2px 8px;
  font-size: var(--normal-size);
}

/*** ------------------------------- ***/
/*** LISTE DES SUJETS -------------- ***/

/* Bloc de description du forum */
.forum-page_desc {
  margin: 0 0 20px;
  background: var(--neutral);
  border-radius: 5px;
  padding: 10px;
}

/* Conteneur sujet dans la liste */
.topicslist_row {
  background: var(--neutral);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.topicslist_row:last-child {
  margin-bottom: 0;
}

/* Image du sujet */
.topicslist-img {
  width: 50px;
  height: 50px;
  background: var(--neutralDark);
}

.topicslist_infos {
  flex-grow: 100;
}

/*titre du sujet*/
.topictitle {
  font-size: var(--medium-size);
  /* permet de raccourir les titres trop long ainsi : "Titre du suj..." */
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 430px;
  white-space: nowrap;
  vertical-align: bottom;
}

/* icône de type de message ( exemple : -18 ans, sujet résolu, ... ) */
.topic_msgicon {
  margin-right: 5px;
}

.topic_msgicon:empty {
  display: none;
}

.topiclist-infos img {
  margin-right: 3px;
}

.topicslist-stats {
  text-align: right;
}

.topicslist-avatar-lastpost img {
  object-fit: cover;
  object-position: center;
  width: 50px;
  height: 50px;
  background: var(--neutralDark);
}

.topicslist-lastpost {
  width: 180px;
}

.topicslist-description {
  border-top: 1px solid var(--neutralDark);
  padding-top: 5px;
  width: 100%;
}

/* ligne qui séparent les annonces et les notes des autres sujets (à activer dans "message > configuration") */
.topic_separator {
  height: 5px;
  background: var(--neutral);
  margin-bottom: 10px;
  border-radius: 5px;
}

/* Bouton "trier les sujets" */
#sort-topics {
  position: relative;
  display: inline;
  background: var(--neutralDark);
  margin: 10px 0;
}

.sort-form {
  width: max-content;
  background: var(--neutral);
  border: 1px solid var(--neutralDarker);
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  top: 110%;
  right: 0;
  display: none;
}

.expanded~.sort-form {
  display: block;
}

/****** ------------------------------------------------------------------------------
 ****** AFFICHAGE D'UN SUJET --------------------------------------------------------- ******/

/* PARTICIPANTS DU SUJET ---*/

/* Conteneur de la liste des participants au sujet */
.poster-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -10px;
  margin-bottom: 20px;
}

/* Avatar du participant*/
.poster {
  background: var(--poster-avatar);
  height: 30px;
  width: 30px;
  border-radius: 100%;
  margin-left: -8px;
  border: 2px solid var(--neutralDark);
  background-size: cover;
  background-position: center;
}

/* Lien de renvoi vers son profil */
.poster a {
  display: block;
  height: 100%;
}

/* Nombre de participants */
.poster-count {
  margin-left: 8px;
}

.poster-more-list {
  display: none;
}

.poster-more {
  display: grid;
  place-items: center;
  position: relative;
}

.poster-more:hover .poster-more-list {
  display: block;
  position: absolute;
  top: 29px;
  width: 150px;
  background: var(--neutralDarker);
  padding: 10px;
  border-radius: 5px;
}

/*** ------------------------------- ***/
/*** SUJET ------------------------- ***/

.post_row {
  background: var(--neutral);
  display: grid;
  grid-template-rows: max-content auto;
  grid-template-columns: min-content 1fr;
  border-bottom: 1px solid var(--neutralDark);
}

div.post_row:nth-of-type(2) {
  border-radius: 5px 5px 0 0;
}

div.post_row:last-of-type {
  border-radius: 0 0 5px 5px;
  border-bottom: none;
}

.post_details {
  grid-column: 1 / span 2;
  padding: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--neutralDark);
  width: 100%;
}

.post_date {
  flex-grow: 100;
}

/* BOUTONS D'EDITION DU MESSAGE --- */
/* Conteneur boutons d'édition */
ul.profile-icons {
  flex-grow: 1;
  display: flex;
}

/*UN SEUL bouton d'édition */
ul.profile-icons li {
  padding: 2px 4px;
  border-radius: 5px;
}

/* Cache les boutons pour les invités */
.profile-icons a[href=""] {
  display: none
}

/*hover d'un bouton d'édition*/
ul.profile-icons li:hover {
  background: var(--neutralDark);
}

/* BOUTON LIKE --- */
/* Conteneur du bouton like */
.like_button {
  float: right;
  margin-left: 10px;
  flex-grow: 1;
  cursor: pointer;
}

/* Bouton like */
.rep-button,
.rep-button:active,
.rep-button:focus {
  background: var(--neutralDark);
  color: var(--textColor);
  border: none;
  padding: 3px 5px;
  border-radius: 5px;
  font-weight: 600;
}

/*Bouton au survol*/
.rep-button:hover {
  background: var(--var(--contrastLighter));
}

/* Texte "j'aime" */
button.rep-button .like_text {}

/*compteur de like*/
button.rep-button .rep-nb {
  margin-left: 5px;
  padding: 0 3px;
  background: var(--neutral);
  border-radius: 3px;
}

.post_profile {
  padding: 10px;
  border-right: 1px solid var(--neutralDark);
}

.post_pseudo {
  font-weight: bold;
}

/* Lien "@" de mention */
a.fa-mention {
  cursor: pointer;
}

/* Mention "en ligne" */
.presence {
  display: none
}

.presence.online {
  display: inline-block;
  position: relative;
  background-color: var(--neutralDarker);
  border-radius: 5px;
  padding: 0 5px;
  margin: 0 auto;
}

/* RECOMPENSES --- */
/* Conteneur des récompenses */
#list_awards {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

/* Récompense */
.award {
  width: 40px;
  height: 40px;
  position: relative;
  background-image: var(--award-image);
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  cursor: pointer;
}

.award:hover .award_tooltiptext {
  display: block;
}

/* Bloc description de la récompenses */
.award_tooltiptext {
  width: max-content;
  display: none;
  position: absolute;
  top: 25%;
  left: 25px;
  background-color: var(--neutral);
  border: 1px solid var(--neutralDark);
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  font-size: 11px;
}

/* titre de la récompenses*/
.award_tooltiptext_title {
  font-weight: 600;
}

.online:empty {
  display: none;
}

.post_message {
  padding: 25px;
}

/* REPONSE RAPIDE --- */
/*supression de la mention "réponse rapide" */
.quickreply div.h3 {
  display: none;
}

/*centrer la réponse rapide*/
.quickreply {
  display: flex;
  justify-content: center;
}

/* Retire le cadre de la réponse rapide pour les invités */
#quickreply_content:empty {
  display: none;
}

/*** ------------------------------- ***/
/*** SONDAGE ----------------------- ***/

.poll {
  background: var(--neutral);
  border-radius: 5px;
  margin-bottom: 10px;
}

.head_poll {
  padding: 10px;
  border-bottom: 1px solid var(--neutralDark);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.poll_list {
  display: grid;
  grid-template-columns: 220px auto;
}

.poll_option {
  padding: 10px 20px 0 10px;
  border-right: 1px solid var(--neutralDark);
  text-align: right;
}

.poll_vote {
  padding: 10px 10px 0 20px;
  display: flex;
  align-items: center;
}

.poll_send {
  margin-left: 220px;
  padding: 20px 10px 20px 20px;
  border-left: 1px solid var(--neutralDark);
}

.poll_vote:nth-child(2),
.poll_option:first-child {
  padding-top: 20px;
}

.votes-users-list {
  justify-content: start;
  margin: 20px 0 0;
}

/*** ------------------------------- ***/
/*** TEXTES, BALISES, ETC ---------- ***/

/* Lien-tag des utilisateurs */
.mentiontag {}

/* BALISES DE MESSAGE : spoiler, code, quote... */

/* Balise code, spoiler et hide*/
.codebox {
  display: block;
  width: 90%;
  margin: 0 auto;
  position: relative;
}

/* Contenu code, spoiler et hide*/
.codebox dd {
  background: var(--neutralDark);
  border-radius: 5px;
  padding: 5px;
}

/* Nom de balise "code, spoiler" */
.codebox dt {
  font-weight: 700;
  font-size: var(--little-size);
}

/*retire la mention "code" du bloc*/
#codeBox dt {
  height: 0;
  font-size: 0;
}

/* bouton "copier" */
.copyCode {
  font-size: 12px;
  font-weight: normal;
  position: absolute;
  top: 5px;
  right: 13px;
  font-family: monospace;
  text-transform: uppercase;
  cursor: pointer;
}

div.cont_code {
  clear: right;
}

/* Spoiler */
.hidebox.spoiler {}

/* spoiler fermé */
.spoiler_content {
  display: none;
}

/* spoiler ouvert */
.spoiler_content.hidden {
  display: block;
}

/* Citation contenu */
blockquote div {
  padding-left: 20px;
}

/* Citation mention "... a écrit" */
blockquote cite {
  display: block;
  margin-left: -20px;
  font-style: normal;
}

/* Citation pseudo */
blockquote cite a {
  text-decoration: none !important;
}

/* Hide */
.codebox.hidecode dd {
  background: transparent;
  opacity: 0.8;
}

/****** ------------------------------------------------------------------------------
 ****** MEMBRES ------------------------------------------------------ ******/

/*** ------------------------------- ***/
/*** PAGE DE PROFIL ---------------- ***/

.user_profile {
  background: var(--neutral);
  border-radius: 5px;
  display: grid;
  grid-template-columns: max-content auto;
  padding: 10px;
  grid-gap: 20px;
}

.profile_avatar {
  width: 200px;
}

.profile_infos {}

.profile_contact {
  display: flex;
  gap: 5px;
  float: right;
}

.profile_content {
  height: 265px;
  overflow: auto;
}

.profile_field {
  margin: 10px 0;
  display: grid;
  grid-template-columns: 135px auto;
  grid-gap: 10px;
}

.profile_field label,
.profile_field label>span {
  font-weight: 600;
  color: var(--link);
}

.profile_field field {
  position: relative;
}

.profile_admin {
  text-align: center;
  margin: 10px 0 0;
}

/* Bouton "suivre le membre" */
.followBtn {
  background: var(--neutral);
  border: 1px solid var(--neutralDark);
  border-radius: 5px;
  font-weight: 600;
  margin: 0;
  font-size: 14px;
}

.followBtn::before {
  top: 1px;
  position: relative;
  color: var(--accentClr);
  margin-right: 5px;
}

/* Bouton édition d'un champ de profil */
.ajax-profil_edit {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0px;
}

/* Bouton édition d'un champ de profil */
.ajax-profil_edit {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: -15px;
}

/* Bouton validation des modifications */
.ajax-profil_valid {
  cursor: pointer;
  margin-left: 4px;
  vertical-align: middle;
}

/*** ------------------------------- ***/
/*** WOMBAT PROFILS EN POP UP ---- ***/

/* Fond atténué */
.wombat-overlay {
  position: fixed;
  z-index: 990;
  inset: 0;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  transition: 0.2s opacity ease;
  background: var(--neutral);
}

/* effet de transition du fond atténué */
.wombat-overlay.open {
  opacity: 0.5;
  visibility: visible;
}

/* Fenêtre du popup */
.wombat-aside {
  position: fixed;
  inset: 0;
  margin: auto;
  z-index: 999;
  transition: 0.2s all ease;
  visibility: hidden;
  opacity: 0;
  width: 90%;
  max-width: 800px;
  box-shadow: var(--shadowBox);
  border-radius: 10px;
  height: max-content;
  transform: translateX(-20%);
}

/* effet de transition pour la fenêtre */
.wombat-aside.open {
  opacity: 1;
  transform: translateX(0);
  visibility: visible;
}

/*** ------------------------------- ***/
/*** PROFILS SIMPLIFIÉS DES TAGS ---- ***/

/* Supression de la flèche peu esthétique*/
.tooltipster-arrow {}

.tooltipster-default {}

.preview_content {
  display: flex;
}

.preview_avatar img {
  object-fit: cover;
  object-position: center;
  width: 70px;
  height: 70px;
  border-radius: 5px;
  margin-right: 10px;
}

.preview_infos {
  width: 100%;
  padding-top: 3px;
}

.preview_pseudo,
.preview_pseudo strong {
  font-size: var(--medium-size);
}

.preview_contacts {
  position: absolute;
  bottom: 8px;
  right: 10px;
  display: flex;
  align-items: center;
}

.preview_contacts a {
  margin-left: 5px;
}

.tooltipster-arrow {
  display: none;
}

/*** ------------------------------- ***/
/*** LISTE DES MEMBRES ------------- ***/

.userlist {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}

.userlist_profil {
  display: grid;
  grid-template-columns: 95px auto;
  grid-gap: 10px;
  padding: 10px;
  background: var(--neutral);
  border-radius: 5px;
}

.userlist_avatar {}

.userlist_avatar img {
  width: 75px;
  height: 120px;
  object-fit: cover;
  object-position: center;
}

.userlist_details {}

.userlist_pseudo {
  font-size: var(--medium-size);
}

.userlist_infos {}

.userlist_contact {}

/****** ------------------------------------------------------------------------------ 
 ****** MESSAGES PRIVES -------------------------------------------------------------- ******/

/*** ------------------------------- ***/
/*** LISTE DES MPs ----------------- ***/

/* Menu des MPS */
#privmsgs-menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px auto;
}

#privmsgs-menu li {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Affichage d'un MP dans la liste */
.mp_row {
  background: var(--neutral);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 55px auto;
  grid-gap: 10px;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
}

/*** ------------------------------- ***/
/*** AFFICHAGE D'UN MESSAGE PRIVÉ -- ***/

.message {
  background: var(--neutral);
  border-radius: 5px;
  display: grid;
  grid-template-rows: max-content auto;
  grid-template-columns: 220px auto;
}

.message_infos {
  grid-column: 1 / span 2;
  border-bottom: 1px solid var(--neutralDark);
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.mp-icons {
  display: flex;
  float: right;
}

.message_profil {
  padding: 10px;
  border-right: 1px solid var(--neutralDark);
  text-align: center;
}

.message_content {
  padding: 25px;
}

/****** ------------------------------------------------------------------------------
 ****** PAGES ANNEXES ---------------------------------------------------------- ******/

/*** ------------------------------- ***/
/*** PAGE D'ENVOI D'UN MESSAGE ----- ***/

.message-edition {
  display: flex;
  flex-direction: row;
  /* flex-direction: row-reverse; -- pour smileys à droite */
  gap: 15px;
  /*espace entre la zone de texte et la boîte à smileys*/
}

/* Prévisualisation d'un message */
#preview {
  background: var(--neutral);
  padding: 10px;
  border: var(--border);
  border-radius: 5px;
}

/*** ------------------------------- ***/
/*** EDITION DE PROFIL ------------- ***/

/* Onglets dans la modification de profil */
#tabs ul {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 10px;
}

/*onglet*/
#tabs li {
  padding: 5px 10px;
  border: 1px solid transparent;
}

/* Onglet selectionné */
#tabs li.activetab {
  background: var(--neutralDark);
  border: var(--border);
  border-radius: 5px;
}

/* onglet au survol */
#tabs li:hover {
  background: var(--neutralDark);
  border-radius: 5px;
  border: var(--border);
}

/* Suppression de l'onglet "amis et ignorés" */
div#tabs li:nth-child(5) {
  display: none;
}

.profil_preferences dl,
.profil_editavatar dl {
  grid-template-columns: 40% auto;
}

.profil_preferences .italic {
  font-size: var(--little-size);
}

/* EDITER SIGNATURE ---*/
#parent_editor_simple>#smiley-box {
  float: left;
  /* float: right; -- pour smileys à droite */
}

#parent_editor_simple #message-box {
  margin-left: 240px;
  /* margin-right: XXXpx -- pour smileys à droite */
}

#parent_editor_simple #message-box>br {
  display: none;
}

#parent_editor_simple #message-box>#textarea_content {
  width: 100% !important;
}

.panel.row2.sig {
  text-align: center;
  margin-top: 10px;
}

/*** ------------------------------- ***/
/*** PAGES DE RECHERCHES ----------- ***/

/* RECHERCHE DE MESSAGE -----*/

/* Conteneur d'un message*/
.post_search {
  display: grid;
  grid-template-columns: 200px auto;
  border-radius: 5px;
  margin: 10px 0;
  background: var(--neutral);
}

.post_search>div {
  padding: 10px;
}

/* Colonne d'information du message */
.postsearch_infos {
  border-right: var(--border);
  font-size: var(--little-size);
}

/* RECHERCHE DE SUJET -----*/
/* Même CSS que la liste des sujets dans un forum */

/*** ------------------------------- ***/
/*** PAGE DE CONNEXION ------------- ***/

/* Centrer les pages de connexion */
form[name="form_login"],
form[name="form_login"]~.panel {
  text-align: center;
}

form[name="form_login"] .content {
  display: grid;
  justify-content: center;
  justify-items: center;
}

/*** ------------------------------- ***/
/*** ELEMENTS FLOTTANTS ------------ ***/

/* Fenêtre popup "recherche" */
.overview {
  background: var(--neutral);
  border-radius: 5px;
  border: var(--border);
  padding: 10px;
  position: fixed !important;
  top: 50% !important;
}

/* Bouton rechercher */
.overview button[type="submit"] {
  width: 26px;
  height: 26px;
  margin-left: 5px;
}

.overview div {
  margin-bottom: 5px;
}

.overview a {
  float: right;
}

/* Boîte "recherche un utilisateur" */
#find_username {
  display: none;
  position: fixed;
  left: 50%;
  width: 450px;
  margin-left: -225px;
  top: 50%;
  margin-top: -125px;
  background-color: var(--neutral);
  padding: 10px;
  border: var(--border);
  border-radius: 5px;
}