
/****** ------------------------------------------------------------------------------
 ****** BLOGS ------------------------------------------------------------------------ ******/

/*** ------------------------------- ***/
/*** LISTE DES BLOGS --------------- ***/

.bloglist {
    background: var(--neutral);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 65px auto;
    grid-template-rows: 60px auto;
    margin-bottom: 10px;
}


.bloglist_date {
    grid-row: 1 / span 2;
    padding: 10px;
    border-right: 1px solid var(--neutralDark);
    line-height: 22px;
    text-align: center;
}

.blog_daymonth {
    font-size: 16px;
    font-weight: 700;
}

.blog_year {
    font-size: 18px;
}

.bloglist_infos {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.bloglist_details {
    text-align: right
}

.bloglist_resum {
    padding: 0 10px 10px;
}


/*** ------------------------------- ***/
/***  AFFICHAGE D'UN BLOG ---------- ***/

.blog_post {
    background: var(--neutral);
    display: grid;
    grid-template-rows: auto auto;
    border-radius: 5px;
}

.blog_details {
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--neutralDark);
}

.blog_author {
    flex-grow: 100;
}

/*** ------------------------------- ***/
/*** COMMENTAIRES D'UN BLOG -------- ***/

.blog_comment {
    border: var(--border);
    padding: 10px;
    border-radius: 5px;
    margin: 5px auto 10px;
}

.comment_avatar {
    margin-right: 10px;
    float: left;
}

.comment_avatar img {
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    margin: 0;
}

.comment_details {
    height: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.comment_details .left {
    flex-grow: 100;
}

.comment_content {
    margin-left: 50px;
}